/* ---------------- CONTAINER ---------------- */
.container{
    display: grid;
    width: 75%;
    margin: 0 auto;
    grid-template-areas: 
        'hdr'
        'sect1'
        'sect2'
        'sect3'
        'ftr'
    ;
    border: 1px solid black;
    
}
.container {
    border: 1px solid black;
}
/* ---------------- HEADER ---------------- */
header{
    grid-area: hdr;
}
#banner{
    width: 100%;
    padding: 0;
    margin: 0;
}
/* ---------------- SECTION 1 ---------------- */
section:nth-child(1){
    grid-area: sect1;
    
}
/* ---------------- SECTION 2 ---------------- */
section:nth-child(2){
    grid-area: sect2;
    
}
/* ---------------- SECTION ---------------- */
section:nth-child(3){
    grid-area: sect3;
    
}
/* ---------------- footer ---------------- */
footer{
    grid-area: ftr;
}
