*{
    padding: 0;
    margin: 0;
}
/* ---------------- CONTAINER ---------------- */
.container{
    display: grid;
    width: 75%;
    margin: 0 auto;
    box-shadow: 1px 1px 20px 4px #6a6a6f;
    grid-template-areas: 
        'hdr'
        'sect1'
        'sect2'
        'sect3'
        'ftr'
    ;
    border: 1px solid black;
    
}
.container {
    border: 1px solid black;
}
/* ---------------- HEADER ---------------- */
header{
    display: grid;
    grid-template-areas: 
    'hdr'
    'img'
    ;
}
#header{
    grid-area: hdr;
    background-color: black;
    display: grid;
    align-items: center;
    padding: 10px 0;
    grid-template-areas: 
        'hdr-img hdr-ul'
    ;
    /* background: black; */
}
#header > img {
    grid-area: hdr-img;
}

#header ul {
    grid-area: hdr-ul;
    display: grid;
    justify-items: center;
    grid-template-areas: 
        'l-1 l-2 l-3 l-4 l-5 l-6'
    ;
    list-style: none;
}
.list-items{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}
.list-items a {
    color: white;
    text-decoration: none;
}
header > img {
    display: none;
    grid-area: img;
    border: 1px solid blue;
    width: 100%;
}
/* ---------------- SECTION 1 ---------------- */
section:nth-of-type(1){
    grid-area: sect1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ---------------- SECTION 2 ---------------- */
section:nth-of-type(2){
    grid-area: sect2;
    display: grid;
}
/* ---------------- SECTION ---------------- */
section:nth-of-type(3){
    grid-area: sect3;
}
/* ---------------- footer ---------------- */
footer{
    grid-area: ftr;
    background: black;
}
